<!DOCTYPE html>
<html>
	<head>
		<title>Photobooth</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="https://fonts.googleapis.com/css?family=Germania+One|Gloria+Hallelujah" rel="stylesheet">
		<!-- To make the webpage responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<!-- Header -->
		<h1 style="font-size:10vh;" >
			Siri's Photobooth
		</h1>

		<div class="all-container">
			<div class="video-container">
				<video id="camera-stream" class="video" width="480" height="320">
	  			</video>
	  		</div>

	  		<div class="snap-container">
	  			<img id="snap" src="" width="480" height="320"></img>
	  		</div> 
	  		<canvas id="canvas" class="canvas"width="480" height="320"></canvas> 

	  		<div class="button-container">
	  			<a id="take-photo" href="#takephoto"><img src= "/images/camera5.png" style= "width:40px;height:40px;"></a>
	  				
	  			<a id="save-photo" href="#savephoto" download="photo.png"><img src= "/images/download_cloud.png" style= "width:40px;height:40px;"></a>

	  			<a id="delete-photo" href="#deletephoto"><img src= "/images/delete2.png" style= "width:32px;height:32px;"></a>
			</div>
		</div>

		<footer>
  			<p>Created by: Siri Persson</p>
  			<p>Contact information: <a href="siri.persson@precisit.com">
  			siri.persson@precisit.com</a>.</p>
		</footer>

		<script src='/javascript/index.js'></script>
	</body>
</html>