body{
    /*background-color:lightblue; */
    /* background-color:#6534ff; */
    background-image: url("/images/sky_stars.png");
    font-family: 'Roboto', sans-serif;
}

h1{
	/*color:white;
	font-size:80px;
	text-align:center;
    font-family: 'Gloria Hallelujah', cursive; */
    color:#fccdd3;
	font-size:80px;
	text-align:center;
}
#camera-stream{
    height:100%;
    width:40%;
    margin-right:auto;
    margin-left:auto;
    vertical-align: middle;
    object-fit: fill;
}

#snap{
    margin-right:auto;
    margin-left:auto;
    height:100%;
    width:40%;
    vertical-align: middle;
    display:none;
}

#canvas{
    display:none;
}

.all-container{
    /*background-color:darkblue;
    margin:10%;
    text-align:center;*/
    height: 50vh;
    text-align:center;
}

.buttons {
    font-size:15vh !important;
    margin:5vh;
    color:#bbc4ef;
    cursor: pointer;
    transition: all .1s ease-in-out;
    user-select: none;
}

.buttons:hover {
    color:#62bcfa;
    transform: scale(1.2); 
}


.button-container {
    height:10vh !important;
    text-align: center;
    width: 100%; 
}
